body {
  background-color: rgb(0, 0, 0);
}

header {
  width: 100%;
  margin: 0;
  display: flex-start;
  justify-content: center;
  align-items: center;
}

.layout__header {
  max-width: 800px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-left: 10px;
  font-size: 50px;
  color: rgb(255, 255, 255);
}

.nav {
  min-width: 500px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.nav__list {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav__link {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 20px;
}

.nav__link:hover {
  color: rgb(10, 159, 204);
}

.card__content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width: 1000px) {
  .main__heading {
    font-size: 84px;
  }
}

@media screen and (max-width: 800px) {
  .main__heading {
    font-size: 44px;
  }
}

.main__text {
  position: absolute;
  height: 102px;
  left: 10%;
  right: 12.02%;
  top: calc(50% - 102px / 2 - 71px);
  font-weight: 500;
  font-size: 84px;
  line-height: 102px;
  color: rgb(255, 255, 255);
}

.main__p {
  color: rgb(255, 255, 255);
  position: absolute;
  left: 1.44%;
  right: 0%;
  top: 59.75%;
  bottom: 0.08%;
  font-size: 22px;
  line-height: 34px;
}
